.cardFriends {
    position: fixed;
    right: 0;
    top: 10vh;
    width: 340px;
    height: 70vh;
    margin-right: 20px;
    background-color: #1c1d1f;
    border-radius: 14px;
    padding: 30px;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .titleFriends {
    color: white;
    font-size: 25px;
    margin-bottom: 20px;
  }
  
  .friends {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;

  }
  
  .friend {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 0.8px solid #333;
    justify-content: center;
  }
  
  .imgUser {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .user {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 80%;
  }
  
  .user .h2 {
    font-size: 18px;
    color: white;
    font-weight: bold;
  }

  .removeButton {
    background-color: #2290FF;
    border: none;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.2s ease-in-out;
  }

  .removeButton:hover {

    background-color: #6db0ee;
    color: black;
    box-shadow: 0 0 6px 1px #6db0ee70;
    transition: 0.2s ease-in-out;

    .removeIcon{ 
        transition-duration: 0.2s ease-in-out;
        filter: invert(90);
    }
}